@page "{resetCode}"
@model IdentityService.Pages.Password.ResetModel
@{
    ViewData["Title"] = "Reset";
}


<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
    <h2>Reset Password</h2>
    @if (!Model.ResetRequest.IsValid)
    {
        <!-- request not valid -->
        <div class="alert alert-danger" style="margin-top:20px;"><i class="fas fa-exclamation-triangle" style="margin-right:8px;"></i> Reset request is invalid.</div>
    }
    else
    {
        <p>@Model.ResetRequest.User.Email</p>
    }

</div>