@page
@model IdentityService.Pages.Password.SentModel
@{
    ViewData["Title"] = "Success";
}

<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 ">
    <h2>Password Reset Sent</h2>
    <div class="alert alert-success">Thank you, a password reset link has been sent to the email address on file.</div>
</div>