@page
@model IdentityService.Pages.Password.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 ">
    <h2>Password Reset</h2>
    <div class="alert alert-success">Thank you, your password has been reset. Please <a href="~/login">login to your account</a>.</div>
</div>