@page
@model IdentityService.Pages.Public.KeysModel
@{
    ViewData["Public Keys"] = "Accept Invitation";
}

<h2>RSA Public Key</h2>

<br />

<div class="form-group container-fluid">
    <label>XML String</label>
    <textarea class="form-control" rows="7">@ViewData["XMLString"]</textarea>
</div>

<br />

<div class="form-group container-fluid">
    <label>PEM</label>
    <textarea class="form-control" rows="7">@ViewData["PEM"]</textarea>
</div>

<br />

<div class="form-group container-fluid">
    <label>Modulus</label>
    <textarea class="form-control" rows="4">@ViewData["Modulus"]</textarea>
</div>

<br />

<div class="form-group container-fluid">
    <label>Exponent</label>
    <textarea class="form-control" rows="1">@ViewData["Exponent"]</textarea>
</div>