@page
@model IdentityService.Pages.Invitations.SuccessModel
@{
    ViewData["Title"] = "Success";
}

<h2>Identity Created</h2>
<div class="alert alert-success">Thank you! Please check your email for login instructions.</div>
